<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<style>
mjx-math > mjx-mo { color: grey; }
mjx-math > mjx-mi { color: lightgrey; }
mjx-math > mjx-mtext { color: cyan; }
mjx-mtd > mjx-mo { color: grey; }
mjx-mtd > mjx-mi { color: lightgrey; }
mjx-mtd > mjx-mtext { color: cyan; }

mjx-container { text-align: left !important; }
mjx-container[display="true"] { padding-left: 1em; }
</style>
